In [115]:
import pandas as pd

pd.set_option('display.max_columns', None)

office = pd.read_csv('datasets/office_addresses.csv')

addresses_cols = ["employee_id", "employee_country", "employee_city", "employee_street", "employee_street_number"]

addresses = pd.read_excel('datasets/employee_information.xlsx', usecols=addresses_cols)

emergency_contacts_header = ["employee_id", "last_name", "first_name",
                             "emergency_contact", "emergency_contact_number", "relationship"]

emergency_contacts = pd.read_excel('datasets/employee_information.xlsx',                                                       sheet_name='emergency_contacts',
                                    header=None, 
                                    names=emergency_contacts_header)

roles = pd.read_json("datasets/employee_roles.json", 
                     orient="index")

print(office.info())
print(addresses.info())
print(emergency_contacts.info())
print(roles.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   office                3 non-null      object
 1   office_country        3 non-null      object
 2   office_city           3 non-null      object
 3   office_street         3 non-null      object
 4   office_street_number  3 non-null      int64
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   employee_id             4 non-null      object
 1   employee_country        4 non-null      object
 2   employee_city           4 non-null      object
 3   employee_street         4 non-null      object
 4   employee_street_number  4 non-null      int64
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   employee_id               4 non-null      object
 1   last_name                 4 non-null      object
 2   first_name                4 non-null      object
 3   emergency_contact         4 non-null      object
 4   emergency_contact_number  4 non-null      object
 5   relationship              4 non-null      object
dtypes: object(6)
memory usage: 320.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A2R5H9 to M1Z7U9
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           4 non-null      object
 1   monthly_salary  4 non-null      object
 2   team            4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes
None

In [116]:
employees = addresses.merge(office, left_on='employee_country', 
                                    right_on='office_country',
                                    how='left')

employees = employees.merge(roles, left_on='employee_id', 
                                   right_on=roles.index)

employees = employees.merge(emergency_contacts, on='employee_id')

print(employees.head())
print(employees.info())

  employee_id employee_country employee_city      employee_street  \
0      A2R5H9               BE        Leuven          Grote Markt
1      H8K0L6               GB        London         Baker Street
2      G4R7V0               US      New-York         Perry Street
3      M1Z7U9               FR         Paris  Rue de l'Universit√©

   employee_street_number         office office_country    office_city  \
0                       9  Leuven Office             BE         Leuven
1                     221  WeWork Office             GB         London
2                      66     ESB Office             US  New York City
3                       7            NaN            NaN            NaN

    office_street  office_street_number               title monthly_salary  \
0  Martelarenlaan                  38.0                 CEO          $4500
1      Old Street                 207.0                 CFO          $4500
2    Fifth Avenue                 350.0  Business Developer          $3000
3             NaN                   NaN      Office Manager          $2000

                team last_name first_name emergency_contact  \
0         Leadership    Hunman        Jax        Opie Hurst
1         Leadership      Siff       Tara   Wendy de Matteo
2              Sales     Sagal      Gemma      John Newmark
3  People Operations    Coates        Tig       Venus Noone

  emergency_contact_number relationship
0          +32-456-5556-84      Brother
1         +44-020-5554-333       Sister
2           +1-202-555-194      Husband
3          +1-202-555-0130         Wife
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   employee_id               4 non-null      object
 1   employee_country          4 non-null      object
 2   employee_city             4 non-null      object
 3   employee_street           4 non-null      object
 4   employee_street_number    4 non-null      int64
 5   office                    3 non-null      object
 6   office_country            3 non-null      object
 7   office_city               3 non-null      object
 8   office_street             3 non-null      object
 9   office_street_number      3 non-null      float64
 10  title                     4 non-null      object
 11  monthly_salary            4 non-null      object
 12  team                      4 non-null      object
 13  last_name                 4 non-null      object
 14  first_name                4 non-null      object
 15  emergency_contact         4 non-null      object
 16  emergency_contact_number  4 non-null      object
 17  relationship              4 non-null      object
dtypes: float64(1), int64(1), object(16)
memory usage: 608.0+ bytes
None

In [117]:
for col in ["office", "office_country", "office_city", "office_street", "office_street_number"]:
    
    employees[col].fillna("Remote", inplace=True)

In [118]:
final_columns = ["employee_id", "first_name", "last_name", "employee_country", 
                 "employee_city", "employee_street", "employee_street_number", 
                 "emergency_contact", "emergency_contact_number", "relationship", 
                 "monthly_salary", "team", "title", "office", "office_country", 
                 "office_city", "office_street", "office_street_number"]

employees_final = employees[final_columns]

In [119]:
employees_final.set_index("employee_id", inplace=True)

print(employees_final)

            first_name last_name employee_country employee_city  \
employee_id
A2R5H9             Jax    Hunman               BE        Leuven
H8K0L6            Tara      Siff               GB        London
G4R7V0           Gemma     Sagal               US      New-York
M1Z7U9             Tig    Coates               FR         Paris

                 employee_street  employee_street_number emergency_contact  \
employee_id
A2R5H9               Grote Markt                       9        Opie Hurst
H8K0L6              Baker Street                     221   Wendy de Matteo
G4R7V0              Perry Street                      66      John Newmark
M1Z7U9       Rue de l'Universit√©                       7       Venus Noone

            emergency_contact_number relationship monthly_salary  \
employee_id
A2R5H9               +32-456-5556-84      Brother          $4500
H8K0L6              +44-020-5554-333       Sister          $4500
G4R7V0                +1-202-555-194      Husband          $3000
M1Z7U9               +1-202-555-0130         Wife          $2000

                          team               title         office  \
employee_id
A2R5H9              Leadership                 CEO  Leuven Office
H8K0L6              Leadership                 CFO  WeWork Office
G4R7V0                   Sales  Business Developer     ESB Office
M1Z7U9       People Operations      Office Manager         Remote

            office_country    office_city   office_street office_street_number
employee_id
A2R5H9                  BE         Leuven  Martelarenlaan                 38.0
H8K0L6                  GB         London      Old Street                207.0
G4R7V0                  US  New York City    Fifth Avenue                350.0
M1Z7U9              Remote         Remote          Remote               Remote